html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F8F8F8;

}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 700px;

}

/*сбрасываем стили*/


li {
  list-style-type: none;
}

a {
  color: #F8F8F8;
  text-decoration: none; /* Убираем подчёркивание */

}
